.header {
    position: relative;
    text-align: center;
}

.converter {
    position: relative;
    text-align: center;
}

.converterTable {
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
}

select {
    width: 200px;
}


.inputText {
    width: 195px;
}